.app {
  display: flex;
  padding-top: 62px;
  min-height: 100vh;
  box-sizing: border-box;
}

.flights-container {
  flex: 1;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.flights {
  width: 100%;
}

@media (max-width: 900px) {
  .flights-container {
    padding: 10px;
  }
}